/* when set a width, elements stay that width despite padding or borders */
 *, *:after, *:before {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   margin: 0;
 }

 /*standard clearfix to handle floats*/
 .clearfix:after {
   visibility:hidden;
   display:block;
   font-size:0;
   content:" ";
   clear:both;
   height:0;
 }


body{
  background:gray;
  height:800px; /*needs height to position #sub-container vertically*/
  max-width: 100vw;

}

#main-container{
  background:white;
  height:69.9%; /* calculated with targetpx / containerpx=result % */
  position:relative;
  top:50%;
  transform:translateY(-50%);}

#sub-container{
  height:618.4px; /* 77% of main-container */
  width:82%;
  margin:0 auto;
  border:1px solid black;
  top:-5%;
  left:0;
  right:0;
  position:absolute;
}


.event-img-one{
  width:50%; /*takes up 50% of #sub-container width */
  height: 50%; /*takes up 53.1% of #sub-container height */
  margin:0;
  float:left;
  background: url('img-one.jpeg');
  background-size: 100% 100%; /*display entire img inside div */

}
.event-description-one{
  width:50%;
  height: 50%; /*takes up 41% on #subcontainer*/
  float:right;
  margin:0;
  border:1px solid red;
  /*using padding to control position of text block. calculated relative to this div's width/height */
  padding: 4.3% 0 0 3.5%;

}

/*essentially the same as .event-img-one. would normally make mixin*/

.event-img-two{
  width:50%;
  height: 50%;
  margin:0;
  float:right;
  background: url('img-two.jpeg');
  background-size: 100% 100%;
}

.event-description-two{
  width:50%;
  height: 50%;
  float:left;
  margin:0;
  text-align: right;
  border:1px solid red;
  /*using padding to control position of text block. calculated relative to this div's width/height */
  padding: 4.3% 3.5% 0 0;
}
