/* when set a width, elements stay that width despite padding or borders */
 *, *:after, *:before {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   margin: 0;
 }
 /*standard clearfix to handle floats*/
 .clearfix:after {
   visibility:hidden;
   display:block;
   font-size:0;
   content:" ";
   clear:both;
   height:0;
 }

body{
  background:gray;
  height:800px; /*needs height to position #sub-container vertically*/
  max-width: 100vw;
}

h2, h5{
  color:orange;
  font-family: serif;
}
#main-container{
  background:white;
  height:69.9%; /* calculated with targetpx / containerpx=result % */
  position:relative;
  top:50%;
  transform:translateY(-50%);}

#sub-container{
  height:618.4px; /* 77% of main-container */
  width:82%;
  margin:0 auto;
  top:-5%;
  left:0;
  right:0;
  position:absolute;
}

.event-img-one{
  width:50%; /*takes up 50% of #sub-container width */
  height: 55%; /*takes up 53.1% of #sub-container height */
  margin:0;
  float:left;
  background: url('img-one.jpeg');
  background-size: 100% 100%; /*display entire img inside div */
  -webkit-filter: hue-rotate(-120deg);

}
.event-description-one{
  width:50%;
  height: 45%; /*takes up 41% on #subcontainer*/
  float:right;
  margin:0;
}
/*using padding to control position of text inside. calculated relative to this div's width/height. Really don't like this..not very DRY. But couldn't figure out how to position the horizontal line without separating text fields.. */

  .event-description-one h4{
    padding: 9.3% 11% 0 12.5%;
  }
  .event-description-one h3{
    padding: 0 11% 0 13.5%;
  }
  .event-description-one h2{
    padding: 0 11% 0 13.5%;
  }
  .event-description-one h5{
    padding: 0 11% 0 13.5%;
  }
  .event-description-one p{
    padding: 0 11% 0 13.5%;
  }

/*content inside .event-description-one*/
  .hrz-line-one{
    width:12.5%;
    border-top:1px solid orange;
    position:absolute;
  }
  .hrz-line-two{
    width:12.5%;
    border-top:1px solid orange;
    position:absolute;
    float:right;
  }

/*essentially the same as .event-img-one. would normally make mixin*/


.event-description-two h4{
  padding: 12.9% 11% 0 0;
}
.event-description-two h3{
  padding: 0 11% 0 15.5%;
}
.event-description-two h2{
  padding: 0 11% 0 15.5%;
}
.event-description-two h5{
  padding: 0 11% 0 15.5%;
}
.event-description-two p{
  padding: 0 11% 0 15.5%;
}
.event-img-two{
  width:50%;
  height:55%;
  margin:0;
  float:right;
  background: url('img-two.jpeg');
  background-size: 100% 100%;
  -webkit-filter: hue-rotate(-120deg);
}

.event-description-two{
  width:50%;
  height:45%;
  float:left;
  margin:0;
  text-align: right;

}



.featured-events{
  background:url('img-three.jpeg');
  background-size: 100% 100%; /*display entire img inside div */
  width:28.4%;
  height:23.2%;
  position:absolute;
  visibility: visible;
  top:38.5%;
  left:36%;
  right:0;
  z-index: 200;
}


@media (max-width: 800px) {

  .featured-events{
    position: relative;
    width:60%;
    top:0;
    left:0;
    margin:0 auto;
  }

  .event-img-one, .event-img-two{
    width:95%;
    margin:0 auto;
  }
  .event-description-one, .event-description-two{
    width:95%;
    height:auto;
    margin:0 auto;
    text-align: center;
  }
}
