/* when set a width, elements stay that width despite padding or borders */
 *, *:after, *:before {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   margin: 0;
 }
 /*standard clearfix to handle floats*/
 .clearfix:after {
   visibility:hidden;
   display:block;
   font-size:0;
   content:" ";
   clear:both;
   height:0;
 }

body{
  background:gray;
  height:800px; /*needs height to position #sub-container vertically*/
  max-width: 100vw;
}

h1, h2, h3, h4, h5, p{
  font-weight: lighter;
}
#main-container{
  background:white;
  height:70.9%; /* calculated with targetpx / containerpx=result % */
  position:relative;
  top:50%;
  transform:translateY(-50%);
}

#sub-container{
  height:618.4px; /* 77% of main-container */
  width:82%;
  margin:0 auto;
  top:-5%;
  left:0;
  right:0;
  position:absolute;
}
.featured-events{
  text-align:center;
  color:white;
  background:url('images/img-four.jpeg');
  background-size: 100% 100%; /*display entire img inside div */
  width:31.4%;
  height:23.2%;
  position:absolute;
  top:38.5%;
  left:36%;
  z-index: 200;
}
.featured-events h1{
  text-transform: lowercase;;
  font-size: 170%;
  font-style: italic;
  letter-spacing: 2px;
  padding-top:11%;
}

.featured-events h2{
  text-transform: uppercase;
  font-size: 90%;
  width:30%;
  margin:0 auto;
  padding-top: 6%;
}
.event-img-one{
  width:50%; /*takes up 50% of #sub-container width */
  height: 55%; /*takes up 53.1% of #sub-container height */
  margin:0;
  float:left;
  background: url('images/img-one.jpeg');
  background-size: 100% 100%; /*display entire img inside div */
  -webkit-filter: hue-rotate(-120deg); /* make purple */
  -webkit-box-shadow: 0px 4px 5px -1px rgba(148,146,148,1);
-moz-box-shadow: 0px 4px 5px -1px rgba(148,146,148,1);
box-shadow: 0px 4px 5px -1px rgba(148,146,148,1);
}

.event-img-text{
    padding:8% 10% 0;
    color:white;
}

.event-img-text .month{
  font-size:100%;
  width:8%;
  border-bottom:1px solid white;
  text-transform: uppercase;
  padding-bottom:2px;
}

.event-img-text .day{
  font-size: 200%;
}

.event-img-text-two{
    padding-top: 35%;
}
.day{
    float:left;
}
.event-img-description {
    padding-left:18%;
    text-transform: uppercase;
    font-size: 180%;
}
.event-description-one{
  width:50%;
  height: 45%; /*takes up 41% on #subcontainer*/
  float:right;
  margin:0;
}

/*handling font-styling for all event-descriptions*/
.event-description h4{
  text-transform: uppercase;
  font-size: 70%;
  letter-spacing: 2px;
}
.event-description h2{
  text-transform: uppercase;
  letter-spacing:3px;
  font-size: 110%;
  color:orange;
}

.event-description h3{
  font-style: italic;
  font-size: 90%;
}

.event-description p{
  font-size: 80%;
}

.event-description h5{
  color:orange;
  letter-spacing: 2px;
  font-size: 65%;
  text-transform: uppercase;
}


/*using padding to control position of text inside. calculated relative to this div's width/height. Really don't like this...not very DRY. But couldn't figure out how to position the horizontal line without separating text fields.. */

  .event-description-one h4{
    padding: 9.3% 11% 1.5% 13.5%;
  }
  .event-description-one h3{
    padding: 0 11% 0 13.5%;
  }
  .event-description-one h2{
    padding: 1.5% 11% 1.5% 13.5%;
  }
  .event-description-one h5{
    padding: 0 11% 0 13.5%;
  }
  .event-description-one p{
    padding:2% 11% 3% 13.5%;
  }
  .fa-long-arrow-right{
    padding-left: 1.5%;
    font-size: 250%;
  }

/*for bottom left text box*/
  .event-description-two h4{
    padding: 11.9% 11% 1.5% 0;
  }
  .event-description-two h3{
    padding: 0 11% 0 15.5%;
  }
  .event-description-two h2{
    padding: 1.5% 11% 1.5% 15.5%;
  }
  .event-description-two h5{
    padding: 0 11% 0 15.5%;
  }
  .event-description-two p{
    padding: 2% 11% 3% 15.5%;
  }


/*content inside .event-description-one*/
  .hrz-line-one{
    width:12.5%;
    border-top:1px solid orange;
    position:absolute;
  }
  .hrz-line-two{
    width:12.5%;
    border-top:1px solid orange;
    position:absolute;
    float:right;
  }
.event-img-two{
  width:50%;
  height:55%;
  margin:0;
  float:right;
  background: url('images/img-two.jpeg');
  background-size: 100% 100%;
  -webkit-filter: hue-rotate(-120deg);
  -webkit-box-shadow: 0px 4px 5px -1px rgba(148,146,148,1);
-moz-box-shadow: 0px 4px 5px -1px rgba(148,146,148,1);
box-shadow: 0px 4px 5px -1px rgba(148,146,148,1);
}

.event-description-two{
  width:50%;
  height:45%;
  float:left;
  margin:0;
  text-align: right;
}




/*media queries - below 800px*/
@media (max-width: 800px) {
  #main-container{
    height: 136%;
    margin-top: 40%;

  }
  .featured-events{
    position: relative;
    width:60%;
    top:0;
    left:0;
    margin:0 auto;
    margin-top:2em;
  }
  .featured-events h2{
    width:100%;
  }
  .event-description h4, h2, h3, h5, p {
    padding:0;
  }
  .event-img-one, .event-img-two{
    width:100%;
    margin:0 auto;
  }
  .event-description-one, .event-description-two{
    width:100%;
    height:auto;
    margin:0 auto;
    text-align: center;
  }
  .hrz-line-two, .hrz-line-one{
    display: none;
  }
}
